<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\bsmar\OneDrive\Desktop\Udemy\LearnCSharp\WPF_CurrencyConverter_StaticApp\WPF{_CurrencyConverter_StaticApp\Database\CurrencyConverter.mdf;Integrated Security=True" providerName="sqlserver"/>
	</connectionStrings>
</configuration>